.skillset {
    width: 100%;
    float: left;
}

.skillset {
    #photoshop:before {
        content: "Photoshop ";
        width: 150px;
    }
}

.skillset {
    #indesign:before {
        content: "InDesign ";
        width: 150px;
    }
}

.skillset {
    #illustrator:before {
        content: "Illustrator ";
        width: 150px;
    }
}