<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
        <div class="info-box">
            <h1 class="post-title author">Izabella Lönnqvist</h1>
            <img src="/img/header_pic.png" class="center-image">
            <p>Hej! Välkommen till min portfolio. Den är just nu under uppbyggnad.</p>
            <ul>
                <li><a href="https://www.facebook.com/rickolonnqvist">Facebook</a></li>
                <li><a href="http://izzilar.deviantart.com/">DeviantArt</a></li>
                <li><a href="https://se.pinterest.com/belllziz_1/">Pinterest</a></li>
            </ul>
        </div>
      <div class="wrapper-content">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
