<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
        <div class="info-box">
            <h1 class="post-title author">Izabella Lönnqvist</h1>
            <img src="/img/header_pic.png" class="center-image">
            <div class="contacts">
                <p>Hej! Välkommen till min portfolio. Den är just nu under uppbyggnad.</p>
            </div>
                <ul>
                    <li><a href="https://www.facebook.com/rickolonnqvist"><i class="fa fa-facebook"></i> Facebook</a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
                    <li><a href="http://izzilar.deviantart.com/"><i class="fa fa-deviantart"></i> DeviantArt</a></li>
                    <li><a href="https://se.pinterest.com/belllziz_1/"><i class="fa fa-pinterest"></i> Pinterest</a></li>
                    <li><a href="#"><i class="fa fa-steam"></i> Steam</a></li>
                </ul>
        </div>
      <div class="wrapper-content">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
